
<table class="tx-cbam-annuairecbam" >
	<tr>
		<td>
			<f:translate key="tx_cbamannuairecbam_domain_model_corporation.company_name" />
		</td>
		<td>
		{corporation.companyName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cbamannuairecbam_domain_model_corporation.address" />
		</td>
		<td>
		{corporation.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cbamannuairecbam_domain_model_corporation.postal_code" />
		</td>
		<td>
		{corporation.postalCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cbamannuairecbam_domain_model_corporation.city" />
		</td>
		<td>
		{corporation.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cbamannuairecbam_domain_model_corporation.phone" />
		</td>
		<td>
		{corporation.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cbamannuairecbam_domain_model_corporation.fax" />
		</td>
		<td>
		{corporation.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cbamannuairecbam_domain_model_corporation.email" />
		</td>
		<td>
		{corporation.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cbamannuairecbam_domain_model_corporation.description" />
		</td>
		<td>
		{corporation.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cbamannuairecbam_domain_model_corporation.siret" />
		</td>
		<td>
		{corporation.siret}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cbamannuairecbam_domain_model_corporation.logo" />
		</td>
		<td>
				<f:image src="{corporation.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cbamannuairecbam_domain_model_corporation.schedule" />
		</td>
		<td>
		{corporation.schedule}
		</td>
	</tr>
</table>